.overmind.sock
.docker-sync
/dump/*
/log/*
/tmp/*
/public/uploads
/public/assets
/coverage
/node_modules
/.vscode
/.byebug_history
/.overmind.env
**/.DS_Store
**/.vscode
/.swarm/.env
/Makefile
/Procfile
/README.md
.git
.swarm
docker-compose.yml
docker-compose-test.yml
