= simple_form_for(@repository) do |f|
  = f.input :original_id, collection: @repository_options, label: false, include_blank: t('repositories.form.select_placeholder'), input_html: { class: 'mt-3' }
  = f.button :submit, t('repositories.actions.create'), class: 'btn-primary mt-3'
